@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
    height: 100%;
}

.list-counter {
    margin-bottom: 45px;
}

.list-container {
    border-radius: 7px;
    background-color: #e8ecdb;
    margin-left: 25px;
    margin-right: 25px;
    
    h4, p {
        margin-left: 25px;
    }    
    
    .nav-tabs > li > a:hover {
        background-color: #b1c4af;
        color: #f1f7f7;
    }
}
