@import "bootstrap-sprockets";
@import "bootstrap";

.list-counter {
    margin-bottom: 45px;
}

.list-container {
    border-radius: 7px;
    background-color: #e1fea4;
    margin-left: 25px;
    margin-right: 25px;
}